<% if @selected_points.length > 0 %>
  <% @selected_points.each do |point| %>
    <div class="cat-card">
      <div>
        <%= point[:title] %>
      </div>
      <div>
        <%= point[:description] %>
      </div>
      <div class="buttons">
        <% if user_signed_in? && (current_user.email == point.finder) %>
          <%= button_to I18n.t("remove"), {:controller => "point", :action => "remove", :point_id => point.id}, method: "delete", :remote => true %>
        <% end %>
      </div>
    </div>
  <% end %>
<% else %>
  <div class="cat-card"><%= I18n.t "no_cats" %></div>
<% end %>
